---
layout: default
title: Code
---

{% assign tag = "github-pages" %}
{% if site.tags[tag] %}
    <ul class="posts">
    {% for post in site.tags[tag] %}
        <li class="post">
            <time>
                {{ post.date | date_to_string }}
            </time>
            <a href="{{ post.url }}" title="{{ post.title }}">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p class="error">
    There are no posts on code category
</p>
{% endif %}
