{% if limit %}
    {% for post in posts limit:limit %}
        <table class="article-short-item">
            <tr>
                <th class="month-day">{{ post.date | date: "%d %b" }}</th>
                <td class="article-title" rowspan="2"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
            </tr>
            <tr>
                <th class=""year>{{ post.date | date: "%Y" }}</th>
            </tr>
        </table>
    {% endfor %}
{% else %}
    {% for post in posts %}
        <table class="article-short-item">
            <tr>
                <th class="month-day">{{ post.date | date: "%d %b" }}</th>
                <td class="article-title" rowspan="2"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
            </tr>
            <tr>
                <th class=""year>{{ post.date | date: "%Y" }}</th>
            </tr>
        </table>
    {% endfor %}
{% endif %}
