body {
    background-color: #000;
    color: #0f0;
    font-family: "Droid Sans Mono", monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

::selection {
    background: #bdbdbd;
    text-shadow: none;
}

a {
    color: #0f0;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    text-shadow: 0 0 10px #0f0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    color: #0f0;
}

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 110%; }

ul, ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul {
    padding-left: 28px;
    list-style: decimal;
}

ul.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    width: 720px;
    max-width: 90%;
    margin: 2em auto;
    border: 1px solid #0f0;
}

header {
    border-bottom: 1px solid #0f0;
}

#menu li {
    display: inline-block;
    border-right: 1px solid #0f0;
}

#menu li a {
    display: inline-block;
    color: #0f0;
    padding: 4px 8px;
    border-bottom: 0;
}

#menu li a:hover {
    background: #030;
}

#content {
    padding: 1em 0.5em;
    border-bottom: 1px solid #0f0;
}

#navigation {
    padding: 1em 0.5em;
    border-bottom: 1px solid #0f0;
}

a.prev, a.next {
    display: block;
}

footer {
    padding: .25em .5em;
}

footer .info {
    color: #9e9e9e;
    padding: 3px;
    border: 1px solid #9e9e9e;
}

code {
    background: #030;
    padding: 0 .125em;
}

.highlight .code pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}

.highlight {
    position: relative;
	padding: 10px 0;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border-color: #000 !important;
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
