/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
html, body {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
    background: #f5f5f5;
}
*/

@font-face { font-family: Pixel; src: url('./pixel.ttf'); }

body {
    background-color: #000;
    color: #0f0;
    font-family: "Droid Sans Mono", monospace;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/10f08805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #bdbdbd;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    color: #0f0;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    color: #757575;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 110%;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}

ul, ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul {
    padding-left: 32px;
    list-style: none;
}

ul#markdown-toc {
    padding-left: 0;
}

ul.list-inline {
    padding: 0;
    list-style: none;
}

ul.list-inline li, a.tag {
    display: inline-block;
    margin-right: 5px;
}

a.category {
    display: inline-block;
}

ul.list-inline li:last-child, a.tag:last-child {
    margin-right: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 720px;
    max-width: 90%;
    margin: 28px auto 28px 10%;
    border: 1px solid #0f0;
}

header {
    margin-bottom: 16px;
    border-bottom: 1px solid #0f0;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu .item {
    display: inline-block;
    border-right: 1px solid #0f0;
}

#menu > .item > a, a.category {
    display: inline-block;
    color: #0f0;
    padding: 10px;
    border-bottom: 0;
}

#menu .item a:hover, a.category:hover {
    background: #030;
}

#tags .tag a, a.tag {
    color: #424242;
    text-transform: lowercase;
    text-decoration: underline;
}

#tags .tag a:hover, a.tag:hover {
    color: #757575;
}

h1#title {
    margin: 0;
}

#content {
    margin-top: 16px;
    margin-bottom: 32px;
}

table.article-short-item {
    margin-top: 8px;
}

table.article-short-item th {
    vertical-align: top;
    font-weight: normal;
    width: 80px;
    color: #c397d8;
}

table.article-short-item td.article-title {
    vertical-align: top;
    padding-left: 8px;
}

.timestamp {
    border-left: 1px solid #424242;
    padding-left: 3px;
}

#navigation {
    border-top: 2px solid #626262;
    padding-top: 16px;
    margin-bottom: 32px;
}

a.prev, a.next {
    display: block;
}

footer {
    margin: 32px 0 16px;
    padding: 3px 0;
}

footer .info {
    color: #9e9e9e;
    padding: 3px;
    border: 1px solid #9e9e9e;
}

/*
pre code {
    font-size: 0.8rem;
}
*/

code {
    color: #212121;
    background: #9e9e9e;
    padding: 2px;
}

.highlight .code pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}

.highlight {
    position: relative;
	padding: 10px 0;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
