<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <meta name="author" content="Lê Quốc Tuấn" />
        <meta name="description" content="Personal Blog">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    </head>
    <body>
        <div id="container" class="container">
            {% include header.html %}

            <div id="content" class="row">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
